@{
    ViewData["Title"] = "tartalom";
}
<div>
    <div>
        <h1 class="col-12 text-center bg-danger text-nowrap">Ez itt a cím helye</h1>
    </div>
    <div class="d-flex p-3 bg-warning ">
        <div class=" d-flex col-6 p-3 font-weight-bold text-justify text-uppercase">
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec quam neque, egestas in efficitur consectetur, gravida ultricies dui. Nam imperdiet elementum dolor quis rhoncus. Sed viverra condimentum quam, id tempus diam lacinia ut. Ut nec gravida turpis, sit amet eleifend tortor. Sed eu erat sapien. Sed rutrum turpis nec sapien gravida, in fermentum augue facilisis. Suspendisse potenti. Curabitur efficitur volutpat justo id cursus. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Quisque feugiat, risus et consequat suscipit, ex metus volutpat enim, sed bibendum justo velit convallis mauris. Donec semper tempor libero at congue. Aliquam scelerisque commodo enim, a sodales sapien fringilla ac. Morbi suscipit bibendum dui, quis pharetra purus commodo at. Cras ut felis imperdiet, rhoncus arcu lacinia, tristique ex. Morbi faucibus ac nunc ut consequat. Fusce nunc sapien, elementum vitae tellus et, faucibus auctor elit.</p>
        </div>
        <div class="d-flex col-6 p-3 font-italic text-right mt-5">
            <p>Ut tortor erat, porta et mauris ac, varius sodales elit. Aenean accumsan arcu at posuere venenatis. Aenean et pulvinar ligula. Vivamus feugiat lectus non massa convallis, id scelerisque ipsum sollicitudin. Sed a enim vel libero pellentesque suscipit nec in arcu. Duis tincidunt sapien turpis. Etiam commodo mi nec bibendum commodo. Phasellus nunc turpis, hendrerit vel tellus a, fringilla hendrerit lectus. Mauris a purus efficitur, venenatis ipsum condimentum, venenatis sem. Quisque porttitor mauris dignissim convallis venenatis. Suspendisse iaculis gravida nisl sed pulvinar. Duis eleifend ullamcorper nisl. Etiam vel lorem pretium, faucibus quam id, accumsan ante. Curabitur sit amet porta nisi.</p>
        </div>
    </div>
</div>