
@{
    ViewData["Title"] = "Elérhetőségek";
}

<div class="bg-danger p-5 ">
    <div class="card align-content-center  m-auto " style="width: 28rem;">
        <img src="~/Pics/bükklevél.jpg" class="card-img-top " alt="kép helye" style="height: 18rem">
        <div class="card-body" style="height: 8rem">
            <h5 class="card-title text-center bg-warning">Elérhetőségek</h5>
            <p class="card-text col-12 bg-success text-warning">Telefon : +36 70 600 1252</p>
            <p class="card-text col-12 bg-success text-warning">E-mail : koszegikaroly1974@gmail.com</p>
        </div>
    </div>
</div>