@model FirstSteps.Models.Partner

<form method="post" asp-action="PartnerForm">
    <input asp-for="PartnerId" hidden />
    <div class="border p-3">
        <div class="form-group row">
            <h2 class="text-black-50 pl-3">Partner űrlap</h2>
        </div>
        <div class="row">
            <div class="col-12">
                <div class="form-group row">
                    <div class="col-2">
                        <label asp-for="PartnerName"></label>
                    </div>
                    <div class="col-2">
                        <label asp-for="PartnerAddress"></label>
                    </div>
                    <div class="col-2">
                        <label asp-for="PartnerTaxNumber"></label>
                    </div>
                    <div class="col-3">
                        <label asp-for="PartnerNotifications"></label>
                    </div>
                    <div class="col-3">
                        <label asp-for="ContactId"></label>
                    </div>
                </div>
                <div class="form-group row">
                    <div class="col-2">
                        <input asp-for="PartnerName" disabled class="form-control" />
                        <span asp-validation-for="PartnerName" class="text-danger"></span>
                    </div>
                    <div class="col-2">
                        <input asp-for="PartnerAddress" disabled class="form-control" />
                        <span asp-validation-for="PartnerAddress" class="text-danger"></span>
                    </div>
                    <div class="col-2">
                        <input asp-for="PartnerTaxNumber" disabled class="form-control" />
                        <span asp-validation-for="PartnerTaxNumber" class="text-danger"></span>
                    </div>
                    <div class="col-3">
                        <input asp-for="PartnerNotifications" disabled class="form-control" />
                    </div>
                    <div class="col-3">
                        <input asp-for="ContactId" disabled class="form-control" />
                    </div>
                </div>

            </div>
        </div>
    </div>
</form>
<div class="form-group row">
    <div class="col-8 offset-2 row">

        <div class="col">
            <form method="post" asp-action="Update">
                <input asp-for="PartnerId"  hidden />
                <input type="submit" class="btn btn-warning w-75" value="Módosítás" />
            </form>
        </div>


        <div class="col">
            <form method="post" asp-action="Delete">
                <input asp-for="PartnerId" hidden />
                <input type="submit" class="btn btn-danger w-75" value="Törlés" />
            </form>
        </div>

       
        <div class="col">
            <form>
                <input asp-for="PartnerId" hidden />
                <a asp-action="Index" class="btn btn-success w-75">Vissza</a>
            </form>
        </div>
        
    </div>
</div>

