@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Üdvözlöm</h1>
    <p>Ez a FirstSteps alkalmazás nyitóoldala. Kérem válasszon a menüpontokból a továbblépéshez</p>
</div>
